.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.animation {
  animation: loop 1s linear infinite forwards;
}

@keyframes loop {
  to {
    transform: rotate(360deg);
  }
}
